

*{

    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{

    background-color: gray;
}

section{

    width: 100%;
    padding: 10px;
}

section h1{

    padding: 10px;
    font-size: 30px;
}

nav{

    display: flex;
    flex-wrap: wrap;
    padding: 20px;
    max-width: 100%;
    
}

nav input{

    width: 250px;
    height: 40px;
    outline: none;
    font-size: 20px;
    border-radius: 5px;
    border: none;
    text-indent: 3px;
    margin: 5px;
   
    
}

.caixa{

    display: flex;
    flex-wrap: wrap;
    gap: 40px;
}

.Img{

    width: 150px;
    height: 150px;
    
    
}

.Img img{

    border-radius: 5px;
}

.Img img:hover{

    transform: scale(1.1);
    border: 1px solid rgb(24, 234, 217);
}
/*  --------------------------------------------------------------------------------------------- */


.bory{

    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    
}

.carrossel{

    overflow: hidden;
    width: 700px;
    height: 500px;
}

.container{

    display: flex;
    position: relative;
    transition: transform 0.5s ease-in-out;
   
}

.container img{

    width: 700px;
    height: 500px;
}










