


body{

    background-color: grey;
    justify-content: center;
}

.contaiener{

    width: 500px;
    height: 500px;
    background: linear-gradient(120deg,rgba(199, 22, 22, 0.716),rgba(191, 191, 44, 0.667),rgb(234, 7, 49));
}

.com{

    width: 50px;
    height: 50px;
    position:relative;
    background-color: red;
}


.jogo{

    width: 500px;
    height: 400px;
    background: linear-gradient(120deg,rgba(199, 22, 22, 0.716),rgba(191, 191, 44, 0.667),rgb(234, 7, 49));

}

.divq{

    width: 50px;
    height: 50px;
    position:relative;
    background-color: red;

}

.tela{

    width: 100%;
    display: flex;
    justify-content: center;
    height:400px ;
    
    
}

.bts{

    width: 100%;
    height: 300px;
    
    
    
}

.btn{

    display: grid;
    justify-content: center;
    grid-auto-rows: 40px;
    
    
    
}

.btn button{

    width: 80px;
    height: 30px;
    border-radius: 5px;
    color: white;
    background-color:#0707ac8a;
    border: 2px solid blue;
    cursor: pointer;

}

.btn button:hover{

    border: 2px solid rgb(0, 255, 94);
}



#bt1{

    position: relative;
    top: 10px;
}

#bt2{

    position: relative;
    right: 90px;
}

#bt3{
 
    position: relative;
    top: -40px;
    left: 90px;

}

#bt4{

    position: relative;
    bottom: 45px;
}












