
*{
    margin: 0;
    padding: 0;
    box-sizing: 0;
}


body{

    background-color: gray;
}

.caixa{

    width: 100%;
    height: 100%;
    display: flex;
    background: linear-gradient(120deg,pink,blue,orange);
    
}

.cont{
    width: 400px;
    height: 200px;
    padding: 10px;
    margin: 10px;
    display: grid;
    
   
}

#input{

    width: 350px;
    height: 30px;
    font-size: 20px;
    outline: none;
    border-radius: 5px;
    border: 0;
    box-shadow:1px 0px 7px #000000;;
}

.cont label{

    font-size: 20px;
    margin: 2px;
}



.cont button{

    margin-top: 30px;
    width: 100px;
    height: 30px;
    margin-left: 120px;
    border-radius: 5px;
    cursor: pointer;
    border: 0;
    font-size: 20px;
    box-shadow: 0 9px #999;
    background-color: #04aa6d;
}   


.destaque{

    border: 1px solid red;
    background:linear-gradient(120deg,yellow,green,orange);
}

.cont button:hover{
    background-color: #3e8e41;
    color: white;
    
  }

.cont button:active{
    background-color: #3e8e41;
    box-shadow: 0 5px #666;
    transform: translateY(4px);

  }

.contener{

   width: 500px;
   height: 400px;
   display: flex;
   justify-content: center;
}
  
.cont2{
    width: 200px;
    margin:5px;
    justify-items: center;
    align-content: center;
}

.cont3{

    width: 200px;
    margin: 5px;
    align-content: center;
    justify-items: center;
    
}


.divs{

    width: 180px;
    height: 50px;
    display: flex;
    border: 1px solid black;
    margin: 10px;
    text-align: center;
    align-content: center;
    border-radius: 8px;
    box-shadow: 0px 7px 1px -2px #ff0000;
    transition-delay: 5ms;
    justify-content: space-around;
    align-items: center;
    
}

.divs:hover{

    transform: translateY(5px);
    box-shadow: 0px 7px 1px -7px #ff0000;
    color: white;
    text-shadow: 2px 2px 2px red;
   
    
}

.caixa2{

    width: 100%;
    height: 700px;
    display:grid;
    background: linear-gradient(120deg, #009fffa6, #fff10042, #c60c57c4);
    
}

.caixa2 h1{

    text-align: center;
    padding: 10px;
}

.pes{

    width: 500px;
    height: 350px;
    background-color: #3e8e41;

    
}

.contflex{

    display: flex;
    justify-content: space-around;
    gap: -10px;
}

.sem{
    width: 100px;
    height: 25px;  
    outline: none; 
    border: 0;
    border-radius: 5px;
    font-size: 20px;
}

.cent{

    width: 500px;
    height: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color:#00ffff4a;
    padding-top: 10px;
}

.cent button{
    width: 100px;
    height: 30px;
    margin: 50px;
    border-radius: 5px;
    cursor: pointer;
    border: 0;
    font-size:20px;
    background-color: blue;
    color: whitesmoke;
    box-shadow:1px 2px 0px 3px #ff000033;
}

.cent button:active{
    transform: translateY(5px);
    box-shadow:1px 2px 0px 3px #00ffbf54;
}

.rodape{
    width: 400px;
    padding: 10px;
    opacity: 0;
    background-color: #3e8e41;
}

.filmes{

    max-width: 100%;
    height: 100vh;
    display:flex;
    flex-wrap: wrap;
    
    background-color: #0000004d;
}  

.imgfilmes{

    width: 180px;
    justify-items: center;
   
}

.imgfilmes img{
    max-width: 100%;
    border-radius: 5px;
    margin: 10px;
   

}

.imgfilmes img:hover{

    transform: scale(1.1);
    cursor: pointer;
}


