

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{

    background-color: black;
}

h1{

    color:white;
    text-align: center;
    padding: 10px;
    text-shadow:-4px 0px 9px greenyellow;
}

.cent{

    display: flex;
    justify-content: center;
    width: 100%;
    
}

.caixadiv{

    box-sizing: border-box;
    overflow: hidden;
    width: 500px;
    height: 500px;
}

.carrossel{

    display: flex;
    transition: transform 0.9 ms ease-in-out;
    transform: translateX(0);
}


#Imgs{
    object-fit: cover;
    width: 500px;
    height: 500px;
}

/* --------------------------------------------------------------------------------  */


.caixajogo{

    width: 100%;
    height: 50vh;
    padding: 20px;
    background-color: rgba(240, 250, 255, 0.17);
    border-radius: 5px;
}

.cente{

    width: 100%;
    display: block;
    justify-items: center;
    
}

.caixajogo span{

    display:flex;
    width: 500px;
    padding: 3px;
    font-size: 25px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background: linear-gradient(120deg,rgba(0, 128, 0, 0.412),rgba(255, 255, 0, 0.338),rgba(80, 255, 243, 0.239));
}

#spa1{

    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}




.contjo{
    width: 500px;
    height: 30vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    background: linear-gradient(120deg,rgba(0, 128, 0, 0.412),rgba(255, 255, 0, 0.338),rgba(80, 255, 243, 0.239));

}
.contjo input{

    width: 50px;
    height: 50px;
    text-align: center;
    padding: 10px;
    margin: 5px;
    font-size: 30px;
    border-radius: 5px;
    outline: none;
    border: none;
}

.contjo button{

    width: 80px;
    height: 30px;
    margin-top: 30px;

}







